workspace/pipeline/reusable/azure-sql/Master ELT ASQL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetIngestDefinition]",
            "storedProcedureParameters": {
              "MaxIngestInstance": {
                "type": "Int32",
                "value": "100"
              },
              "SourceSystemName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.SourceSystemName",
                  "type": "Expression"
                }
              },
              "StreamName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.StreamName",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "controlDB-6982c89b-54a7-4406-8895-9339b5d060f5"
            },
            "schema": [],
            "externalReferences": {
              "connection": "5edcfc38-bd7f-448d-8439-31bdfe5ca044"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get SQL Tables to Ingest",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Get SQL Tables to Ingest').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "5aa60fbc-1bde-4ff1-9c46-cb0a59334fbc",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IngestID": {
                    "value": "@item().IngestID",
                    "type": "Expression"
                  },
                  "SourceSystemName": {
                    "value": "@item().SourceSystemName",
                    "type": "Expression"
                  },
                  "StreamName": {
                    "value": "@item().StreamName",
                    "type": "Expression"
                  },
                  "EntityName": {
                    "value": "@item().EntityName",
                    "type": "Expression"
                  },
                  "WatermarkColName": {
                    "value": "@item().WatermarkColName",
                    "type": "Expression"
                  },
                  "LastDeltaDate": {
                    "value": "@item().LastDeltaDate",
                    "type": "Expression"
                  },
                  "DataFromTimestamp": {
                    "value": "@item().DataFromTimestamp",
                    "type": "Expression"
                  },
                  "DataToTimestamp": {
                    "value": "@item().DataToTimestamp",
                    "type": "Expression"
                  },
                  "LastDeltaNumber": {
                    "value": "@item().LastDeltaNumber",
                    "type": "Expression"
                  },
                  "DataFromNumber": {
                    "value": "@item().DataFromNumber",
                    "type": "Expression"
                  },
                  "DataToNumber": {
                    "value": "@item().DataToNumber",
                    "type": "Expression"
                  },
                  "DataFormat": {
                    "value": "@item().DataFormat",
                    "type": "Expression"
                  },
                  "SourceStructure": {
                    "value": "@item().SourceStructure",
                    "type": "Expression"
                  },
                  "MaxIntervalMinutes": {
                    "value": "@item().MaxIntervalMinutes",
                    "type": "Expression"
                  },
                  "MaxIntervalNumber": {
                    "value": "@item().MaxIntervalNumber",
                    "type": "Expression"
                  },
                  "DataMapping": {
                    "value": "@item().DataMapping",
                    "type": "Expression"
                  },
                  "RunSequence": {
                    "value": "@item().RunSequence",
                    "type": "Expression"
                  },
                  "ActiveFlag": {
                    "value": "@item().ActiveFlag",
                    "type": "Expression"
                  },
                  "L1TransformationReqdFlag": {
                    "value": "@item().L1TransformationReqdFlag",
                    "type": "Expression"
                  },
                  "L2TransformationReqdFlag": {
                    "value": "@item().L2TransformationReqdFlag",
                    "type": "Expression"
                  },
                  "DelayL1TransformationFlag": {
                    "value": "@item().DelayL1TransformationFlag",
                    "type": "Expression"
                  },
                  "DelayL2TransformationFlag": {
                    "value": "@item().DelayL2TransformationFlag",
                    "type": "Expression"
                  },
                  "DestinationRawFileSystem": {
                    "value": "@item().DestinationRawFileSystem",
                    "type": "Expression"
                  },
                  "DestinationRawFolder": {
                    "value": "@item().DestinationRawFolder",
                    "type": "Expression"
                  },
                  "DestinationRawFile": {
                    "value": "@item().DestinationRawFile",
                    "type": "Expression"
                  },
                  "SourceSQL": {
                    "value": "@item().SourceSQL",
                    "type": "Expression"
                  },
                  "StatSQL": {
                    "value": "@item().StatSQL",
                    "type": "Expression"
                  },
                  "ReloadFlag": {
                    "value": "@item().ReloadFlag",
                    "type": "Expression"
                  },
                  "ADFPipelineRunID": {
                    "value": "@item().ADFPipelineRunID",
                    "type": "Expression"
                  },
                  "BronzeObjectID": {
                    "value": "@pipeline().parameters.BronzeObjectID",
                    "type": "Expression"
                  },
                  "BronzeWorkspaceID": {
                    "value": "@pipeline().parameters.BronzeWorkspaceID",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Ingest Table",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach SQL Table",
        "dependsOn": [
          {
            "activity": "Get SQL Tables to Ingest",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "24833c00-3aac-4241-aaa9-036d39fcdea6",
            "type": "PipelineReference"
          },
          "parameters": {
            "SourceSystemName": {
              "value": "@pipeline().parameters.SourceSystemName",
              "type": "Expression"
            },
            "StreamName": {
              "value": "@pipeline().parameters.StreamName",
              "type": "Expression"
            },
            "MaxTransformInstance": 100,
            "DelayL1TransformationFlag": {
              "value": "@pipeline().parameters.DelayTransformation",
              "type": "Expression"
            },
            "SilverObjectID": {
              "value": "@pipeline().parameters.SilverObjectID",
              "type": "Expression"
            },
            "SilverWorkspaceID": {
              "value": "@pipeline().parameters.SilverWorkspaceID",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Level 1 Transform SILVER",
        "dependsOn": [
          {
            "activity": "ForEach SQL Table",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b5f12b3-b005-4da2-b7c2-7cbbcb0c3d6f",
            "type": "PipelineReference"
          },
          "parameters": {
            "SourceSystemName": {
              "value": "@pipeline().parameters.SourceSystemName",
              "type": "Expression"
            },
            "StreamName": {
              "value": "@pipeline().parameters.StreamName",
              "type": "Expression"
            },
            "MaxTransformInstance": 100,
            "DelayL2TransformationFlag": {
              "value": "@pipeline().parameters.DelayTransformation",
              "type": "Expression"
            },
            "GoldObjectID": {
              "value": "@pipeline().parameters.GoldObjectID",
              "type": "Expression"
            },
            "GoldWorkspaceID": {
              "value": "@pipeline().parameters.GoldWorkspaceID",
              "type": "Expression"
            },
            "GoldDWEndpoint": {
              "value": "@pipeline().parameters.GoldDWEndpoint",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Level 2 Transform GOLD",
        "dependsOn": [
          {
            "activity": "Level 1 Transform SILVER",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "SourceSystemName": {
        "type": "string",
        "defaultValue": "WWI"
      },
      "StreamName": {
        "type": "string"
      },
      "DelayTransformation": {
        "type": "int",
        "defaultValue": 0
      },
      "BronzeObjectID": {
        "type": "string",
        "defaultValue": "5a39fbdb-5c90-4ce5-bc69-34099a47473a"
      },
      "BronzeWorkspaceID": {
        "type": "string",
        "defaultValue": "681534df-b5cf-44dc-9644-46312e52c461"
      },
      "SilverObjectID": {
        "type": "string",
        "defaultValue": "5a39fbdb-5c90-4ce5-bc69-34099a47473a"
      },
      "SilverWorkspaceID": {
        "type": "string",
        "defaultValue": "681534df-b5cf-44dc-9644-46312e52c461"
      },
      "GoldObjectID": {
        "type": "string",
        "defaultValue": "c99bf503-375f-40ab-b5eb-94f5fd18a0ea"
      },
      "GoldWorkspaceID": {
        "type": "string",
        "defaultValue": "681534df-b5cf-44dc-9644-46312e52c461"
      },
      "GoldDWEndpoint": {
        "type": "string",
        "defaultValue": "2ipjetq4tn6elkixc3xundvzbi-u4ai3dmkby5u5daorxfpvr5n5q.datawarehouse.fabric.microsoft.com"
      }
    }
  }
}